{erl_opts, [
    debug_info,
    {feature, maybe_expr, enable}
]}.

{deps, [
    {cowboy, "2.9.0"},
    {jsx, "3.1.0"},
    {jwt, {git, "https://github.com/artemeff/jwt", "master"}},
    {pooler, "1.6.0"},
    {epgsql, "4.7.1"},
    {slug, {git, "https://github.com/tandn/slug.git", {branch, "master"}}}
]}.

{project_plugins, [
    erlfmt
]}.

{erlfmt, [
    write,
    {print_width, 120},
    {files, [
        "{src,include,test}/*.{hrl,erl}",
        "src/*.app.src",
        "rebar.config"
    ]}
]}.

{shell, [
    {config, "config/sys.config"},
    {apps, [realworld_api]}
]}.

{relx, [
    {release, {realworld_api, git}, [realworld_api]},

    {dev_mode, true},
    {include_erts, false}
]}.
